

body {
  background: url("../images/capitol2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}


/*TWITTER COLUMN LEFT*/
.col-1 {
  float:left;
  width: 33%;



}


/*TWITER COLUMN RIGHT*/
.col-4 {

  float: right;
}

/*CANDIDATE HILLARY*/
.col-2 {
    position: absolute;
   top: 90%;
   left: 50%;
   margin-top: -250px; 
   margin-left: -250px; 
   
   
   display: block;
   width: 200px;
    height: 300px;
    overflow: hidden;
    white-space: nowrap;
    background: url("../images/presidents.png");
    background-position: 0 0;
}

.col-2:hover {
    background-position: -400px 0;
  }

  

 /*  CANDIDATE RUBIO */
  .col-3 {

   position: absolute;
   top: 90%;
   left: 70%;
   margin-top: -250px; 
   margin-left: -250px; 
 
   display: block;
   width: 200px;
    height: 300px;
    overflow: hidden;
    white-space: nowrap;
    background: url("../images/presidents.png");
    background-position: 0 -300px;
}

.col-3:hover {
    background-position: -400px -300px;
  }







